@import "variables";
@import "globals";

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {

    background-color: white;
    max-width: 320px;
    min-width: 305px;

    margin: 28px;
    text-align: center;
    border-radius: 15px;

    .text {
        margin: 10px 25px 35px 25px
    }

    p {
        font-size: 0.9375rem;
        color: $gray;
        letter-spacing: 0.2px;
        line-height: 1.3;
    }

    h1 {
        color: $blue;
        letter-spacing: 0.6px;
        font-size: 21px;
        line-height: 1.3;

    }

    img {
        margin-top: 15px;
        margin-bottom: 0px;
        border-radius: 10px;
        height: auto;
        width: 288px;
    }
    
}

