:root {
  --white: hsl(0, 0%, 100%);
  --light: hsl(212, 45%, 89%);
  --blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  background-color: var(--light);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  background-color: white;
  max-width: 320px;
  min-width: 305px;
  margin: 28px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgb(0, 0, 0, 0.1);
}

.text {
  margin: 10px 25px 35px 25px;
}

p {
  font-size: 0.9375rem;
  color: var(--blue);
  letter-spacing: 0.2px;
  line-height: 1.3;
}

h1 {
  color: var(--dark-blue);
  letter-spacing: 0.6px;
  font-size: 21px;
  line-height: 1.3;
}

img {
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  height: auto;
  width: 288px;
}

a:link,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}
